<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Back', restaurants_path %>


<h2>Reviews</h2>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %>,  <%= review.rating %>/5 </li>
  <% end %>
  <li><%= link_to "Ajouter votre review", new_restaurant_review_path(@restaurant) %></li>
</ul>